body {
    background-color: $purple;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

//center things on screen
main {
    height: 100vh;
    position: relative;

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

